/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
 global > breakpoint
------------------------------
*/
/*!
 global > color
------------------------------
*/
:root {
  --color-bg-primary: #303030;
  --color-bg-secondary: #efefef;
  --color-bg-tertiary: #fcfafa;
  --color-text-primary: #1d1d1d;
  --color-accent-primary: #3f4f8a;
  --color-accent-secondary: #59b9c7;
  --color-accent-tertiary: #b7c8d0;
  --color-black: #000000;
  --color-white: #ffffff;
}

/*!
global > font
------------------------------
*/
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ZenKakuGothicAntique/ZenKakuGothicAntique-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/ZenKakuGothicAntique/ZenKakuGothicAntique-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ZenKakuGothicAntique/ZenKakuGothicAntique-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Outfit";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Outfit/Outfit-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Outfit";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Outfit/Outfit-Light.woff2") format("woff2");
}
:root {
  --font-family-base: "Zen Kaku Gothic Antique", sans-serif;
  --font-family-en: "Outfit", sans-serif;
}

/*!
global > duration
------------------------------
*/
:root {
  --duration-base: 0.3s;
}

/*!
 global > z-index
------------------------------
*/
:root {
  --z-index-header: 30;
  --z-index-default: 1;
  --z-index-negative: -1;
  --z-index-drawer: 10;
}

/*!
foundation > base
------------------------------
*/
:root {
  --base-vw: 375;
}
@media screen and (min-width: 900px) {
  :root {
    --base-vw: 1440;
  }
}

* {
  letter-spacing: 0.05em;
}

html {
  font-size: calc(100vw / var(--base-vw));
  scroll-behavior: smooth;
}

body {
  line-height: 2;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16rem;
  line-height: 2;
}

/*!
 component > btn-text
------------------------------
*/
/*!
 component > btn-arrow
------------------------------
*/
/*!
 component > title
------------------------------
*/
/*!
 component > title-small
------------------------------
*/
/*!
 component > marquee
------------------------------
*/
/*!
  component > news-item
------------------------------
*/
/*!
 component > voice-item
------------------------------
*/
/*!
 component > contact-label
------------------------------
*/
/*!
utility
------------------------------
*/
@media screen and (min-width: 900px) {
  .u-link-hover {
    transition: opacity var(--duration-base);
  }
}
@media screen and (min-width: 900px) and (any-hover: hover) {
  .u-link-hover:hover {
    opacity: 0.6;
  }
}

.u-text-hover {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size var(--duration-base);
  display: block;
  line-height: 1;
}
@media screen and (min-width: 900px) {
  .u-text-hover {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 900px) and (any-hover: hover) {
  .u-text-hover:hover {
    background-size: 100% 1px;
  }
}

.sp-hidden {
  display: none;
}
@media screen and (min-width: 900px) {
  .sp-hidden {
    display: block;
  }
}

/*!
 layout > header
------------------------------
 */
.content1 {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}

.content2 {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.l-header {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-header);
  height: 76rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--color-black);
  transition: background-color var(--duration-base);
}
@media screen and (min-width: 900px) {
  .l-header {
    height: 92rem;
  }
}
.l-header.is-active {
  background-color: var(--color-white);
}

.l-header__inner {
  width: 100%;
  padding-inline: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .l-header__inner {
    padding-inline: 30rem;
  }
}

.l-header__logo {
  width: 125rem;
  height: 16rem;
}
@media screen and (min-width: 900px) {
  .l-header__logo {
    width: 165.98rem;
    height: 22.01rem;
  }
}

.l-header__logo-link {
  width: 100%;
  height: 100%;
  color: currentColor;
  transition: color var(--duration-base), opacity var(--duration-base);
}

.l-header__logo-icon {
  width: 100%;
  height: 100%;
  display: block;
  background-color: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url(../img/common/logo.svg);
          mask-image: url(../img/common/logo.svg);
}

.l-header__content {
  display: flex;
  align-items: center;
  gap: 36rem;
}

.l-header__nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .l-header__nav {
    display: block;
    transition: opacity var(--duration-base), visibility var(--duration-base);
  }
}

@media screen and (min-width: 900px) {
  .l-header__nav-list {
    display: flex;
    align-items: center;
    gap: 36rem;
  }
}

.l-header__nav-link {
  margin-top: 4rem;
  color: currentColor;
}
@media screen and (min-width: 900px) {
  .l-header__nav-link {
    font-size: 14rem;
    line-height: 1;
  }
}

.l-header__btns {
  display: flex;
  gap: 7rem;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .l-header__btns {
    gap: 12rem;
  }
}

.l-header__btn {
  width: 40rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid currentColor;
}
@media screen and (min-width: 900px) {
  .l-header__btn {
    width: 58rem;
    transition: border var(--duration-base), background-color var(--duration-base), opacity var(--duration-base), visibility var(--duration-base);
  }
}

.l-header__contact-btn {
  display: grid;
  place-items: center;
  background-color: transparent;
}
@media screen and (any-hover: hover) and (min-width: 900px) {
  .l-header__contact-btn:hover {
    background-color: currentColor;
  }
  .l-header__contact-btn:hover .l-header__contact-icon {
    background-color: var(--color-white);
  }
}

.l-header__contact-icon {
  display: block;
  width: 16rem;
  height: 11.43rem;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url(../img/common/mail-icon.svg);
          mask-image: url(../img/common/mail-icon.svg);
  background-color: currentColor;
}
@media screen and (min-width: 900px) {
  .l-header__contact-icon {
    width: 23.2rem;
    height: 16.57rem;
    transition: background-color var(--duration-base);
  }
}

.l-header__drawer-btn {
  background-color: currentColor;
  display: grid;
  place-items: center;
}
@media screen and (any-hover: hover) and (min-width: 900px) {
  .l-header__drawer-btn:hover {
    background-color: transparent;
  }
  .l-header__drawer-btn:hover .l-header__drawer-bars span {
    background-color: var(--color-bg-primary);
  }
}

.l-header__drawer-bars {
  width: 44.6%;
  height: 16.425%;
  position: relative;
  transition: width var(--duration-base), height var(--duration-base);
}
@media screen and (min-width: 900px) {
  .l-header__drawer-bars {
    height: 14.88%;
  }
}
.l-header__drawer-bars span {
  display: block;
  background-color: var(--color-white);
  height: 0.5rem;
  transform-origin: right;
  transition: background-color var(--duration-base), width var(--duration-base), transform var(--duration-base);
  position: absolute;
  right: 0;
}
.l-header__drawer-bars span:nth-of-type(1) {
  top: 0;
  width: 100%;
}
.l-header__drawer-bars span:nth-of-type(2) {
  bottom: 0;
  width: 70%;
}

.l-header.is-drawer-open .l-header__logo-link,
.l-header.is-drawer-open .l-header__nav,
.l-header.is-drawer-open .l-header__contact-btn {
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 900px) {
  .l-header.is-drawer-open .l-header__logo-link {
    color: var(--color-white);
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 900px) and (any-hover: hover) {
  .l-header.is-drawer-open .l-header__logo-link:hover {
    opacity: 0.6;
  }
}
.l-header.is-drawer-open .l-header__drawer-btn .l-header__drawer-bars {
  width: 42.155%;
  height: 22.225%;
}
.l-header.is-drawer-open .l-header__drawer-btn .l-header__drawer-bars span {
  width: 108%;
}
.l-header.is-drawer-open .l-header__drawer-btn .l-header__drawer-bars span:nth-of-type(1) {
  transform: rotate(-26deg);
}
.l-header.is-drawer-open .l-header__drawer-btn .l-header__drawer-bars span:nth-of-type(2) {
  transform: rotate(26deg);
}

.l-header.l-header--sub-page {
  color: var(--color-white);
}
@media screen and (any-hover: hover) and (min-width: 900px) {
  .l-header.l-header--sub-page .l-header__contact-btn:hover .l-header__contact-icon {
    background-color: var(--color-black);
  }
}
.l-header.l-header--sub-page .l-header__drawer-btn .l-header__drawer-bars span {
  background-color: var(--color-black);
}
@media screen and (any-hover: hover) and (min-width: 900px) {
  .l-header.l-header--sub-page .l-header__drawer-btn:hover .l-header__drawer-bars span {
    background-color: var(--color-white);
  }
}

/*!
 layout > drawer
------------------------------
*/
.l-drawer {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-l-drawer);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--duration-base), visibility var(--duration-base);
  background-color: var(--color-bg-primary);
  width: 100%;
  height: 100dvh;
  overflow: auto;
}
.l-drawer.is-open {
  opacity: 1;
  visibility: visible;
}

.l-drawer__body {
  width: 100%;
  height: 100%;
  color: var(--color-white);
  padding-inline: 18rem;
  position: relative;
}
.l-drawer__body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  -webkit-mask-image: url(../img/common/bg-lattice-drawer.svg);
          mask-image: url(../img/common/bg-lattice-drawer.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  z-index: -1;
}
@media screen and (min-width: 900px) {
  .l-drawer__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 0;
  }
}

.l-drawer__nav {
  padding-top: 80rem;
}
@media screen and (min-width: 500px) {
  .l-drawer__nav {
    padding-bottom: 80rem;
  }
}
@media screen and (min-width: 900px) {
  .l-drawer__nav {
    padding: 0 120rem;
    display: flex;
    align-items: center;
  }
}

.l-drawer__list {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
@media screen and (min-width: 900px) {
  .l-drawer__list {
    width: 100%;
  }
}

.l-drawer__item {
  padding-bottom: 20rem;
  border-bottom: 1px solid currentColor;
}
@media screen and (min-width: 900px) {
  .l-drawer__item {
    border-bottom: 1px solid color-mix(in srgb, currentColor 25%, transparent);
  }
  .l-drawer__item:has(.l-drawer__child-list) {
    display: grid;
    grid-template-columns: 120rem 1fr;
    gap: 63rem;
    align-items: flex-start;
  }
}
@media screen and (any-hover: hover) and (min-width: 900px) {
  .l-drawer__item {
    position: relative;
  }
  .l-drawer__item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size var(--duration-base);
  }
  .l-drawer__item:has(.l-drawer__link:hover)::after {
    background-size: 100% 1px;
  }
}

.l-drawer__link {
  font-size: 17rem;
  line-height: 1.4705882353;
  display: block;
}

.l-drawer__child-list {
  margin-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  gap: 16rem 24rem;
}
@media screen and (min-width: 900px) {
  .l-drawer__child-list {
    margin-top: 0;
    gap: 8rem 27rem;
  }
}

@media screen and (min-width: 900px) {
  .l-drawer__item:nth-child(3) .l-drawer__child-list {
    width: 200rem;
    justify-content: space-between;
  }
}

.l-drawer__child-link {
  font-size: 15rem;
  line-height: 1.6666666667;
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 6rem;
}
.l-drawer__child-link::before {
  content: "";
  display: block;
  width: 8rem;
  height: 1rem;
  background-color: currentColor;
}
@media screen and (any-hover: hover) and (min-width: 900px) {
  .l-drawer__child-link {
    transition: opacity var(--duration-base);
  }
  .l-drawer__child-link:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  .l-drawer__visual {
    position: relative;
  }
}

@media screen and (min-width: 900px) {
  .l-drawer__img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0;
  }
  .l-drawer__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .l-drawer__img.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.l-drawer__marquee {
  display: none;
}

body.is-drawer-open {
  overflow: hidden;
}

/*!
 layout > contact-cta
------------------------------
*/
/*!
 layout > footer
 ------------------------------
*/
/*!
 layout > sub-page-fv
------------------------------
 */
/*!
 top > top-fv
------------------------------
 */
/*!
 top > top-about
------------------------------
 */
/*!
 top > top-service
------------------------------
 */
/*!
 top > top-feature
------------------------------
 */
/*!
 top > top-voice
------------------------------
 */
/*!
 top > top-news
------------------------------
 */
/*!
 feature
------------------------------
 */
/*!
 service
------------------------------
 */
/*!
 about > about-message
------------------------------
 */
/*!
 about > about-values
------------------------------
 */
/*!
 about > about-company
------------------------------
 */
/*!
 about > about-access
------------------------------
 */
/*!
 voice
------------------------------
 */
/*!
  voice > detail > voice-detail-article
------------------------------
 */
/*!
  voice > detail > voice-detail-other
------------------------------
 */
/*!
 news
------------------------------
 */
/*!
 news > detail > news-detail-article
------------------------------
 */
/*!
 contact
------------------------------
 */
/*!
 contact > confirm
------------------------------
 */
/*!
 contact > thanks
------------------------------
 */
/*!
 privacy-policy
------------------------------
 *//*# sourceMappingURL=style.css.map */